body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    padding: 20px 0;
    font-size: 28px;
}

#warehouse-inventory {
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}


input[type="text"],
input[type="number"] {
    flex: 1;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 16px;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
    color: #999;
}

button[type="submit"] {
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 18px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="menu"] {
    padding: 15px 30px;
    background-color: #f32b2b;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 18px;
}
button[type="menu"]:hover {
    background-color: #9c240f;
}



ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

li button {
    padding: 12px 24px;
    background-color: #fff;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 0;
    margin-top: 20px;
    transition: background-color 0.2s, color 0.2s;
    font-size: 16px;
}

li button:hover {
    background-color: #007bff;
    color: #fff;
}
